:local {
  li.completed {
  }

  li.mastered {
    text-decoration: line-through;
  }

  .details {
    font-size: small;
    margin-bottom: 0;

    span {
      display: inline-block;
      width: 8em;
    }
  }
}