:local {
  .unknown {
    color: lightslategrey;
  }

  .lockedLowLevel {
    color: darkred;
  }

  .lockedMissingPrereq {
    color: darkorange;
  }

  .unlocked {
    color: goldenrod;
  }

  .collected {
    color: green;
  }

  .favorite {
    color: deepskyblue;
  }

  .vault {
    color: grey;
  }
}