@import '../../variables';
@import '../shared/relics';

:local {
  .component {
    > :global(.card-body) {
      padding: 0.5rem 0.75rem;
    }

    > :global(.card-img-top) {
      padding: 1rem;
    }

    p:global(.card-text) {
      margin-bottom: 0;
    }
  }

  .dupe {
    border: solid $table-border-color;
    border-width: $table-border-width 0;
    background: $dupe-background-color;
  }

  .want {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: $line-height-base * 3em;
  }

  .wantItem {
    width: 50%;
  }

  .wantCount {
    display: inline-block;
    width: 40%;
  }
}
