:local {
  .grouped > tbody:hover {
    background-color: #f0f0f0;
  }

  .dupe {
    // Compare with CharacterSoulBreaks.scss's .unowned
    background-color: #f0f0f7;
  }

  tr.command > td {
    border-top: none;
  }

  .relicType {
    width: 1.25em;
    height: 1.25em;
  }

  .relicEffect {
    font-style: italic;
  }
}
