:local {
  // Normal dimensions are 576px by 160px
  $imgWidth: 432px;
  $imgHeight: 120px;

  .component {
    width: $imgWidth;
  }

  img.image {
    width: $imgWidth;
    height: $imgHeight;
  }

  div.details {
    margin-top: -10px;
    margin-bottom: 10px;
    // Duplicated from <small>
    font-size: 80%;
  }

  span.count {
    display: inline-block;
    width: 50%;
  }

  span.closedAt {
    display: inline-block;
    width: 50%;
    text-align: right;
  }
}
